
<%= simple_form_for(@duer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :activity %>
    <%= f.input :address %>
    <%= f.input :effective %>
    <%= f.input :other %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
