<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @duer.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @duer.activity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @duer.address %>
</p>

<p>
  <strong>Effective:</strong>
  <%= @duer.effective %>
</p>

<p>
  <strong>Other:</strong>
  <%= @duer.other %>
</p>

<%= link_to 'Edit', edit_duer_path(@duer) %> |
<%= link_to 'Back', duers_path %>
